N8N/workflows/ai/AI - PORTAL VESPER - Agente de Qualidade Auditoria INMETRO e CAPA__DQqK9hgVQugbpJUh.json
{
  "updatedAt": "2026-05-20T17:42:13.647Z",
  "createdAt": "2026-05-20T16:34:39.760Z",
  "id": "DQqK9hgVQugbpJUh",
  "name": "AI - PORTAL VESPER - Agente de Qualidade Auditoria INMETRO e CAPA",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "168c514e-5250-4446-8c67-8ff608ae8d0a",
      "name": "Gatilho Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        304
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "tipo_solicitacao",
              "value": "={{ $json.body?.tipo ?? $json.tipo ?? \"auditoria\" }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "documento_id",
              "value": "={{ $json.body?.documento_id ?? $json.documento_id ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "descricao",
              "value": "={{ $json.body?.descricao ?? $json.descricao ?? \"Auditoria de qualidade\" }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "24351252-064b-4285-aab9-44f1d0afb9b6",
      "name": "Normalizar Entrada",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        400
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "e66d9a57-1eec-4cb6-ab3a-89ff47b10b78",
      "name": "Verificação Diária",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        464,
        592
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "documentos_qualidade"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "data_validade",
              "condition": "before",
              "keyValue": "={{ $now.toISO() }}"
            },
            {
              "keyName": "status",
              "keyValue": "ativo"
            }
          ]
        },
        "returnAll": true
      },
      "id": "06fc1a79-8c4e-416f-9ed9-9ee98e572eb8",
      "name": "Buscar Documentos Vencidos",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        688,
        592
      ],
      "credentials": {}
    },
    {
      "parameters": {},
      "id": "2344bed1-9da8-4bd8-9618-b58df2b0debf",
      "name": "Combinar Dados",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        496
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auditoria-inmetro",
        "options": {}
      },
      "id": "2faaa78e-9858-4073-8678-95bd5e7f2e12",
      "name": "Webhook Auditoria",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        496
      ],
      "webhookId": "079833a5-4626-4198-84fd-84492e6aeace",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "nao_conformidades"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "keyValue": "aberta"
            }
          ]
        },
        "returnAll": true
      },
      "id": "87a69ffc-4cd1-4265-a757-4a94f96b021e",
      "name": "Verificar Não Conformidades",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        688,
        400
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.descricao ?? \"Analisar documentos e não conformidades\" }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é um especialista em qualidade e auditoria INMETRO. Suas responsabilidades:\n\n1. VALIDAÇÃO DE FONTE: NUNCA afirme normas ou certificações sem validar a fonte. Use a ferramenta \"Busca Web Regulatória\" para confirmar informações sobre portarias, normas INMETRO e requisitos.\n\n2. ANÁLISE DE RISCO: Avalie a severidade de não conformidades considerando impacto operacional, requisitos regulatórios e prazos.\n\n3. CAPA (Ação Corretiva e Preventiva): Identifique quando uma não conformidade requer CAPA formal. Sugira ações mas NUNCA aprove automaticamente.\n\n4. DOCUMENTOS VENCIDOS: Identifique documentos vencidos e priorize por criticidade.\n\n5. REVISÃO TÉCNICA: Analise documentos técnicos e identifique gaps de conformidade.\n\nREGRAS CRÍTICAS:\n- Sempre valide normas e portarias com fontes oficiais (.gov.br, inmetro.gov.br, abnt.org.br)\n- Marque fonte_validada=true apenas se confirmou via busca web\n- NUNCA feche não conformidades automaticamente (sempre requer aprovação humana)\n- NUNCA aprove CAPA automaticamente (sempre requer revisão humana)\n- NUNCA altere documentos oficiais sem aprovação\n- Seja conservador na análise de risco - em caso de dúvida, escale para revisão humana",
          "maxIterations": 15
        }
      },
      "id": "4465b2b9-4e20-4f6b-91ef-c91883c3361c",
      "name": "Agente de Qualidade INMETRO",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1488,
        496
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "d3cb88dd-4424-4ae5-848d-1d2b9266ac36",
      "name": "Modelo OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1136,
        720
      ],
      "credentials": {
        "openAiApi": {
          "id": "2UvgecDOWh3858ZA",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busca documentos técnicos, normas INMETRO, procedimentos de qualidade e histórico de auditorias. Use para validar informações sobre normas, certificações e requisitos regulatórios.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "documentos_inmetro"
        },
        "topK": 5
      },
      "id": "ee469e32-1df9-4a75-86ec-168900df7771",
      "name": "Base Conhecimento Documentos",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1264,
        720
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "options": {},
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        }
      },
      "id": "db575a4f-9aa4-4cb7-84e8-47766f112138",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1344,
        928
      ],
      "credentials": {
        "openAiApi": {
          "id": "2UvgecDOWh3858ZA",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "name": "busca_web_regulatória",
        "description": "Placeholder seguro para ferramenta externa pendente. Tipo original: n8n-nodes-base.perplexityTool.",
        "language": "javaScript",
        "jsCode": "return JSON.stringify({success:false,status:'external_tool_pending',message:'Ferramenta externa pendente de credencial/revisao humana.'});",
        "specifyInputSchema": false
      },
      "id": "72cbcce5-8380-4013-9332-21945a7b04ae",
      "name": "Busca Web Regulatória",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1552,
        720
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "name": "busca_documentos_drive",
        "description": "Placeholder seguro para ferramenta externa pendente. Tipo original: n8n-nodes-base.googleDriveTool.",
        "language": "javaScript",
        "jsCode": "return JSON.stringify({success:false,status:'external_tool_pending',message:'Ferramenta externa pendente de credencial/revisao humana.'});",
        "specifyInputSchema": false
      },
      "id": "afcb7120-06e8-4edd-9de6-3c94414396af",
      "name": "Busca Documentos Drive",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1680,
        720
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "jsonSchemaExample": {
          "tipo_nao_conformidade": "calibracao",
          "severidade": "alta",
          "norma_aplicavel": "INMETRO Portaria 123/2023",
          "fonte_validada": true,
          "url_fonte": "https://www.gov.br/inmetro",
          "requer_capa": true,
          "prazo_dias": 30,
          "analise_risco": "Risco de não conformidade com requisitos de calibração",
          "acoes_recomendadas": [
            "Recalibrar equipamento",
            "Atualizar certificado"
          ]
        }
      },
      "id": "39a29345-7781-454c-bcca-15cfce2a52c1",
      "name": "Parser Estruturado",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1808,
        720
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "leftValue": "={{ $json.output.severidade }}",
              "rightValue": "alta",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.output.requer_capa }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "leftValue": "={{ $json.output.fonte_validada }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "b564503d-995e-4afe-bef5-aa49c74a0806",
      "name": "Requer Aprovação Humana?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2016,
        496
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "capa_id",
              "value": "={{ \"CAPA-\" + $now.toFormat(\"yyyyMMdd-HHmmss\") }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "status",
              "value": "rascunho_aguardando_aprovacao",
              "type": "string"
            },
            {
              "id": "3",
              "name": "tipo_nc",
              "value": "={{ $json.output.tipo_nao_conformidade }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "severidade",
              "value": "={{ $json.output.severidade }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "norma",
              "value": "={{ $json.output.norma_aplicavel }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "fonte_url",
              "value": "={{ $json.output.url_fonte }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "analise_risco",
              "value": "={{ $json.output.analise_risco }}",
              "type": "string"
            },
            {
              "id": "8",
              "name": "acoes_propostas",
              "value": "={{ $json.output.acoes_recomendadas }}",
              "type": "array"
            },
            {
              "id": "9",
              "name": "prazo_dias",
              "value": "={{ $json.output.prazo_dias }}",
              "type": "number"
            },
            {
              "id": "10",
              "name": "data_criacao",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2fc822ba-e304-4bd1-b61d-60f127d497b1",
      "name": "Criar Rascunho CAPA",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        400
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "capa_rascunhos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "capa_id": "={{ $json.capa_id }}",
            "status": "={{ $json.status }}",
            "tipo_nc": "={{ $json.tipo_nc }}",
            "severidade": "={{ $json.severidade }}",
            "norma": "={{ $json.norma }}",
            "fonte_url": "={{ $json.fonte_url }}",
            "analise_risco": "={{ $json.analise_risco }}",
            "acoes_propostas": "={{ JSON.stringify($json.acoes_propostas) }}",
            "prazo_dias": "={{ $json.prazo_dias }}",
            "data_criacao": "={{ $json.data_criacao }}"
          },
          "schema": [
            {
              "id": "capa_id",
              "displayName": "capa_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_nc",
              "displayName": "tipo_nc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "severidade",
              "displayName": "severidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "norma",
              "displayName": "norma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fonte_url",
              "displayName": "fonte_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "analise_risco",
              "displayName": "analise_risco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "acoes_propostas",
              "displayName": "acoes_propostas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prazo_dias",
              "displayName": "prazo_dias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_criacao",
              "displayName": "data_criacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "0b1a95cf-10d3-4c2d-9586-6d5e34ecbfec",
      "name": "Salvar Rascunho CAPA",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2464,
        400
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "auditoria_id",
              "value": "={{ \"AUD-\" + $now.toFormat(\"yyyyMMdd-HHmmss\") }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "tipo",
              "value": "={{ $json.output.tipo_nao_conformidade }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "severidade",
              "value": "={{ $json.output.severidade }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "status",
              "value": "processado_automaticamente",
              "type": "string"
            },
            {
              "id": "5",
              "name": "requer_acao",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "6",
              "name": "data_auditoria",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ff8e6923-0004-4822-9ed8-5626f55de08c",
      "name": "Registrar Auditoria Automática",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        592
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "auditorias"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "auditoria_id": "={{ $json.auditoria_id }}",
            "tipo": "={{ $json.tipo }}",
            "severidade": "={{ $json.severidade }}",
            "status": "={{ $json.status }}",
            "requer_acao": "={{ $json.requer_acao }}",
            "data_auditoria": "={{ $json.data_auditoria }}"
          },
          "schema": [
            {
              "id": "auditoria_id",
              "displayName": "auditoria_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "severidade",
              "displayName": "severidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "requer_acao",
              "displayName": "requer_acao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_auditoria",
              "displayName": "data_auditoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "43ba8a76-24bb-4cc4-8bc2-47bf7389ef77",
      "name": "Salvar Auditoria",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2464,
        592
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "erro_id",
              "value": "={{ \"ERR-\" + $now.toFormat(\"yyyyMMdd-HHmmss\") }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "mensagem",
              "value": "={{ $json.error?.message ?? \"Erro desconhecido\" }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "requer_intervencao",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "8f496a63-f755-45b1-950c-b19b17988e1d",
      "name": "Tratamento de Erro",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        928
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "content": "## 🎯 PORTAL VESPER - Agente de Qualidade INMETRO\n\n**Objetivo:** Sistema inteligente de auditoria, qualidade e CAPA\n\n**Triggers:**\n- Manual: Testes e execuções sob demanda\n- Agendado: Verificação diária às 8h\n- Webhook: Solicitações externas de auditoria",
        "height": 800,
        "width": 300,
        "color": 2
      },
      "id": "f13b7b60-bcf9-47d2-8e38-2406afaeeed3",
      "name": "Sticky Note 0890be83",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        144,
        288
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "content": "## 🔒 REGRAS DE SEGURANÇA CRÍTICAS\n\n✅ **SEMPRE:**\n- Validar normas com fontes oficiais (.gov.br)\n- Marcar fonte_validada=true apenas após confirmação\n- Escalar casos de alta severidade para humanos\n\n❌ **NUNCA:**\n- Fechar não conformidades automaticamente\n- Aprovar CAPA sem revisão humana\n- Alterar documentos oficiais sem aprovação\n- Afirmar normas sem validação de fonte",
        "height": 200,
        "width": 600
      },
      "id": "e3ea1224-6e5e-4bd2-b7fb-27c9b6522e9c",
      "name": "Sticky Note 0d9f4bdb",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1424,
        672
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "content": "## 📋 FLUXO DE APROVAÇÃO\n\n**Requer Aprovação Humana se:**\n- Severidade = alta\n- Requer CAPA formal\n- Fonte não validada\n\n**Aprovação → Slack + Salvar Rascunho**\n**Automático → Registrar Auditoria**",
        "height": 400,
        "width": 600,
        "color": 3
      },
      "id": "e1fd8f5d-5387-4d04-9138-e6667e01c1c9",
      "name": "Sticky Note dc6b2e66",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1552,
        464
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "content": "## 🤖 FERRAMENTAS DO AGENTE\n\n1. **Base Conhecimento:** Documentos técnicos e normas\n2. **Busca Web:** Validação de normas INMETRO\n3. **Google Drive:** Busca de documentos corporativos\n\nTodas as ferramentas são usadas pelo agente conforme necessário",
        "height": 600,
        "width": 300,
        "color": 4
      },
      "id": "560e014c-a041-4872-be1d-8aeb51e5ec2b",
      "name": "Sticky Note 42a277fc",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        1360
      ],
      "credentials": {}
    }
  ],
  "connections": {
    "Gatilho Manual": {
      "main": [
        [
          {
            "node": "Normalizar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Entrada": {
      "main": [
        [
          {
            "node": "Verificar Não Conformidades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificação Diária": {
      "main": [
        [
          {
            "node": "Buscar Documentos Vencidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Documentos Vencidos": {
      "main": [
        [
          {
            "node": "Combinar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar Dados": {
      "main": [
        [
          {
            "node": "Agente de Qualidade INMETRO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Auditoria": {
      "main": [
        [
          {
            "node": "Normalizar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Não Conformidades": {
      "main": [
        [
          {
            "node": "Combinar Dados",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Agente de Qualidade INMETRO": {
      "main": [
        [
          {
            "node": "Requer Aprovação Humana?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de Qualidade INMETRO",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Base Conhecimento Documentos": {
      "ai_tool": [
        [
          {
            "node": "Agente de Qualidade INMETRO",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Base Conhecimento Documentos",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Busca Web Regulatória": {
      "ai_tool": [
        [
          {
            "node": "Agente de Qualidade INMETRO",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Busca Documentos Drive": {
      "ai_tool": [
        [
          {
            "node": "Agente de Qualidade INMETRO",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parser Estruturado": {
      "ai_outputParser": [
        [
          {
            "node": "Agente de Qualidade INMETRO",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Requer Aprovação Humana?": {
      "main": [
        [
          {
            "node": "Criar Rascunho CAPA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registrar Auditoria Automática",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Rascunho CAPA": {
      "main": [
        [
          {
            "node": "Salvar Rascunho CAPA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Rascunho CAPA": {
      "main": [
        []
      ]
    },
    "Registrar Auditoria Automática": {
      "main": [
        [
          {
            "node": "Salvar Auditoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratamento de Erro": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "errorWorkflow": "LpsYX0AkHTdZKw7P"
  },
  "staticData": {
    "node:Verificação Diária": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "instanceId": "ba8ade540f24bf1880d953f6362fe5f61303e3bce5c042486d634bb871d16172"
  },
  "pinData": {},
  "versionId": "f4e8d0d7-64a4-4ed5-a541-1791757ef13f",
  "activeVersionId": "f4e8d0d7-64a4-4ed5-a541-1791757ef13f",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-05-20T16:34:39.760Z",
      "createdAt": "2026-05-20T16:34:39.760Z",
      "role": "workflow:owner",
      "workflowId": "DQqK9hgVQugbpJUh",
      "projectId": "EAsbiZgK7ZQczIeO"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-20T17:42:13.649Z",
    "createdAt": "2026-05-20T17:42:13.649Z",
    "versionId": "f4e8d0d7-64a4-4ed5-a541-1791757ef13f",
    "workflowId": "DQqK9hgVQugbpJUh",
    "nodes": [
      {
        "parameters": {},
        "id": "168c514e-5250-4446-8c67-8ff608ae8d0a",
        "name": "Gatilho Manual",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          240,
          304
        ],
        "credentials": {}
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "tipo_solicitacao",
                "value": "={{ $json.body?.tipo ?? $json.tipo ?? \"auditoria\" }}",
                "type": "string"
              },
              {
                "id": "2",
                "name": "documento_id",
                "value": "={{ $json.body?.documento_id ?? $json.documento_id ?? \"\" }}",
                "type": "string"
              },
              {
                "id": "3",
                "name": "descricao",
                "value": "={{ $json.body?.descricao ?? $json.descricao ?? \"Auditoria de qualidade\" }}",
                "type": "string"
              },
              {
                "id": "4",
                "name": "timestamp",
                "value": "={{ $now.toISO() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "24351252-064b-4285-aab9-44f1d0afb9b6",
        "name": "Normalizar Entrada",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          464,
          400
        ],
        "credentials": {}
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 8
              }
            ]
          }
        },
        "id": "e66d9a57-1eec-4cb6-ab3a-89ff47b10b78",
        "name": "Verificação Diária",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          464,
          592
        ],
        "credentials": {}
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "name",
            "value": "documentos_qualidade"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "data_validade",
                "condition": "before",
                "keyValue": "={{ $now.toISO() }}"
              },
              {
                "keyName": "status",
                "keyValue": "ativo"
              }
            ]
          },
          "returnAll": true
        },
        "id": "06fc1a79-8c4e-416f-9ed9-9ee98e572eb8",
        "name": "Buscar Documentos Vencidos",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          688,
          592
        ],
        "credentials": {}
      },
      {
        "parameters": {},
        "id": "2344bed1-9da8-4bd8-9618-b58df2b0debf",
        "name": "Combinar Dados",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          912,
          496
        ],
        "credentials": {}
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "auditoria-inmetro",
          "options": {}
        },
        "id": "2faaa78e-9858-4073-8678-95bd5e7f2e12",
        "name": "Webhook Auditoria",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          240,
          496
        ],
        "webhookId": "079833a5-4626-4198-84fd-84492e6aeace",
        "credentials": {}
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "name",
            "value": "nao_conformidades"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "status",
                "keyValue": "aberta"
              }
            ]
          },
          "returnAll": true
        },
        "id": "87a69ffc-4cd1-4265-a757-4a94f96b021e",
        "name": "Verificar Não Conformidades",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          688,
          400
        ],
        "credentials": {}
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.descricao ?? \"Analisar documentos e não conformidades\" }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "Você é um especialista em qualidade e auditoria INMETRO. Suas responsabilidades:\n\n1. VALIDAÇÃO DE FONTE: NUNCA afirme normas ou certificações sem validar a fonte. Use a ferramenta \"Busca Web Regulatória\" para confirmar informações sobre portarias, normas INMETRO e requisitos.\n\n2. ANÁLISE DE RISCO: Avalie a severidade de não conformidades considerando impacto operacional, requisitos regulatórios e prazos.\n\n3. CAPA (Ação Corretiva e Preventiva): Identifique quando uma não conformidade requer CAPA formal. Sugira ações mas NUNCA aprove automaticamente.\n\n4. DOCUMENTOS VENCIDOS: Identifique documentos vencidos e priorize por criticidade.\n\n5. REVISÃO TÉCNICA: Analise documentos técnicos e identifique gaps de conformidade.\n\nREGRAS CRÍTICAS:\n- Sempre valide normas e portarias com fontes oficiais (.gov.br, inmetro.gov.br, abnt.org.br)\n- Marque fonte_validada=true apenas se confirmou via busca web\n- NUNCA feche não conformidades automaticamente (sempre requer aprovação humana)\n- NUNCA aprove CAPA automaticamente (sempre requer revisão humana)\n- NUNCA altere documentos oficiais sem aprovação\n- Seja conservador na análise de risco - em caso de dúvida, escale para revisão humana",
            "maxIterations": 15
          }
        },
        "id": "4465b2b9-4e20-4f6b-91ef-c91883c3361c",
        "name": "Agente de Qualidade INMETRO",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          1488,
          496
        ],
        "credentials": {}
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-5-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "id": "d3cb88dd-4424-4ae5-848d-1d2b9266ac36",
        "name": "Modelo OpenAI",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          1136,
          720
        ],
        "credentials": {
          "openAiApi": {
            "id": "2UvgecDOWh3858ZA",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Busca documentos técnicos, normas INMETRO, procedimentos de qualidade e histórico de auditorias. Use para validar informações sobre normas, certificações e requisitos regulatórios.",
          "memoryKey": {
            "__rl": true,
            "mode": "list",
            "value": "documentos_inmetro"
          },
          "topK": 5
        },
        "id": "ee469e32-1df9-4a75-86ec-168900df7771",
        "name": "Base Conhecimento Documentos",
        "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
        "typeVersion": 1.3,
        "position": [
          1264,
          720
        ],
        "credentials": {}
      },
      {
        "parameters": {
          "options": {},
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-5-mini"
          }
        },
        "id": "db575a4f-9aa4-4cb7-84e8-47766f112138",
        "name": "Embeddings OpenAI",
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          1344,
          928
        ],
        "credentials": {
          "openAiApi": {
            "id": "2UvgecDOWh3858ZA",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "name": "busca_web_regulatória",
          "description": "Placeholder seguro para ferramenta externa pendente. Tipo original: n8n-nodes-base.perplexityTool.",
          "language": "javaScript",
          "jsCode": "return JSON.stringify({success:false,status:'external_tool_pending',message:'Ferramenta externa pendente de credencial/revisao humana.'});",
          "specifyInputSchema": false
        },
        "id": "72cbcce5-8380-4013-9332-21945a7b04ae",
        "name": "Busca Web Regulatória",
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1.3,
        "position": [
          1552,
          720
        ],
        "credentials": {}
      },
      {
        "parameters": {
          "name": "busca_documentos_drive",
          "description": "Placeholder seguro para ferramenta externa pendente. Tipo original: n8n-nodes-base.googleDriveTool.",
          "language": "javaScript",
          "jsCode": "return JSON.stringify({success:false,status:'external_tool_pending',message:'Ferramenta externa pendente de credencial/revisao humana.'});",
          "specifyInputSchema": false
        },
        "id": "afcb7120-06e8-4edd-9de6-3c94414396af",
        "name": "Busca Documentos Drive",
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1.3,
        "position": [
          1680,
          720
        ],
        "credentials": {}
      },
      {
        "parameters": {
          "jsonSchemaExample": {
            "tipo_nao_conformidade": "calibracao",
            "severidade": "alta",
            "norma_aplicavel": "INMETRO Portaria 123/2023",
            "fonte_validada": true,
            "url_fonte": "https://www.gov.br/inmetro",
            "requer_capa": true,
            "prazo_dias": 30,
            "analise_risco": "Risco de não conformidade com requisitos de calibração",
            "acoes_recomendadas": [
              "Recalibrar equipamento",
              "Atualizar certificado"
            ]
          }
        },
        "id": "39a29345-7781-454c-bcca-15cfce2a52c1",
        "name": "Parser Estruturado",
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          1808,
          720
        ],
        "credentials": {}
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "or",
            "conditions": [
              {
                "leftValue": "={{ $json.output.severidade }}",
                "rightValue": "alta",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "leftValue": "={{ $json.output.requer_capa }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              },
              {
                "leftValue": "={{ $json.output.fonte_validada }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "false"
                }
              }
            ],
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            }
          },
          "options": {}
        },
        "id": "b564503d-995e-4afe-bef5-aa49c74a0806",
        "name": "Requer Aprovação Humana?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2016,
          496
        ],
        "credentials": {}
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "capa_id",
                "value": "={{ \"CAPA-\" + $now.toFormat(\"yyyyMMdd-HHmmss\") }}",
                "type": "string"
              },
              {
                "id": "2",
                "name": "status",
                "value": "rascunho_aguardando_aprovacao",
                "type": "string"
              },
              {
                "id": "3",
                "name": "tipo_nc",
                "value": "={{ $json.output.tipo_nao_conformidade }}",
                "type": "string"
              },
              {
                "id": "4",
                "name": "severidade",
                "value": "={{ $json.output.severidade }}",
                "type": "string"
              },
              {
                "id": "5",
                "name": "norma",
                "value": "={{ $json.output.norma_aplicavel }}",
                "type": "string"
              },
              {
                "id": "6",
                "name": "fonte_url",
                "value": "={{ $json.output.url_fonte }}",
                "type": "string"
              },
              {
                "id": "7",
                "name": "analise_risco",
                "value": "={{ $json.output.analise_risco }}",
                "type": "string"
              },
              {
                "id": "8",
                "name": "acoes_propostas",
                "value": "={{ $json.output.acoes_recomendadas }}",
                "type": "array"
              },
              {
                "id": "9",
                "name": "prazo_dias",
                "value": "={{ $json.output.prazo_dias }}",
                "type": "number"
              },
              {
                "id": "10",
                "name": "data_criacao",
                "value": "={{ $now.toISO() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "2fc822ba-e304-4bd1-b61d-60f127d497b1",
        "name": "Criar Rascunho CAPA",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2240,
          400
        ],
        "credentials": {}
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "mode": "name",
            "value": "capa_rascunhos"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "capa_id": "={{ $json.capa_id }}",
              "status": "={{ $json.status }}",
              "tipo_nc": "={{ $json.tipo_nc }}",
              "severidade": "={{ $json.severidade }}",
              "norma": "={{ $json.norma }}",
              "fonte_url": "={{ $json.fonte_url }}",
              "analise_risco": "={{ $json.analise_risco }}",
              "acoes_propostas": "={{ JSON.stringify($json.acoes_propostas) }}",
              "prazo_dias": "={{ $json.prazo_dias }}",
              "data_criacao": "={{ $json.data_criacao }}"
            },
            "schema": [
              {
                "id": "capa_id",
                "displayName": "capa_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "tipo_nc",
                "displayName": "tipo_nc",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "severidade",
                "displayName": "severidade",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "norma",
                "displayName": "norma",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "fonte_url",
                "displayName": "fonte_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "analise_risco",
                "displayName": "analise_risco",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "acoes_propostas",
                "displayName": "acoes_propostas",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "prazo_dias",
                "displayName": "prazo_dias",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "data_criacao",
                "displayName": "data_criacao",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ]
          },
          "options": {}
        },
        "id": "0b1a95cf-10d3-4c2d-9586-6d5e34ecbfec",
        "name": "Salvar Rascunho CAPA",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          2464,
          400
        ],
        "credentials": {}
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "auditoria_id",
                "value": "={{ \"AUD-\" + $now.toFormat(\"yyyyMMdd-HHmmss\") }}",
                "type": "string"
              },
              {
                "id": "2",
                "name": "tipo",
                "value": "={{ $json.output.tipo_nao_conformidade }}",
                "type": "string"
              },
              {
                "id": "3",
                "name": "severidade",
                "value": "={{ $json.output.severidade }}",
                "type": "string"
              },
              {
                "id": "4",
                "name": "status",
                "value": "processado_automaticamente",
                "type": "string"
              },
              {
                "id": "5",
                "name": "requer_acao",
                "value": false,
                "type": "boolean"
              },
              {
                "id": "6",
                "name": "data_auditoria",
                "value": "={{ $now.toISO() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "ff8e6923-0004-4822-9ed8-5626f55de08c",
        "name": "Registrar Auditoria Automática",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2240,
          592
        ],
        "credentials": {}
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "mode": "name",
            "value": "auditorias"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "auditoria_id": "={{ $json.auditoria_id }}",
              "tipo": "={{ $json.tipo }}",
              "severidade": "={{ $json.severidade }}",
              "status": "={{ $json.status }}",
              "requer_acao": "={{ $json.requer_acao }}",
              "data_auditoria": "={{ $json.data_auditoria }}"
            },
            "schema": [
              {
                "id": "auditoria_id",
                "displayName": "auditoria_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "tipo",
                "displayName": "tipo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "severidade",
                "displayName": "severidade",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "requer_acao",
                "displayName": "requer_acao",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "boolean",
                "canBeUsedToMatch": true
              },
              {
                "id": "data_auditoria",
                "displayName": "data_auditoria",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ]
          },
          "options": {}
        },
        "id": "43ba8a76-24bb-4cc4-8bc2-47bf7389ef77",
        "name": "Salvar Auditoria",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          2464,
          592
        ],
        "credentials": {}
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "erro_id",
                "value": "={{ \"ERR-\" + $now.toFormat(\"yyyyMMdd-HHmmss\") }}",
                "type": "string"
              },
              {
                "id": "2",
                "name": "mensagem",
                "value": "={{ $json.error?.message ?? \"Erro desconhecido\" }}",
                "type": "string"
              },
              {
                "id": "3",
                "name": "timestamp",
                "value": "={{ $now.toISO() }}",
                "type": "string"
              },
              {
                "id": "4",
                "name": "requer_intervencao",
                "value": true,
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "id": "8f496a63-f755-45b1-950c-b19b17988e1d",
        "name": "Tratamento de Erro",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          240,
          928
        ],
        "credentials": {}
      },
      {
        "parameters": {
          "content": "## 🎯 PORTAL VESPER - Agente de Qualidade INMETRO\n\n**Objetivo:** Sistema inteligente de auditoria, qualidade e CAPA\n\n**Triggers:**\n- Manual: Testes e execuções sob demanda\n- Agendado: Verificação diária às 8h\n- Webhook: Solicitações externas de auditoria",
          "height": 800,
          "width": 300,
          "color": 2
        },
        "id": "f13b7b60-bcf9-47d2-8e38-2406afaeeed3",
        "name": "Sticky Note 0890be83",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          144,
          288
        ],
        "credentials": {}
      },
      {
        "parameters": {
          "content": "## 🔒 REGRAS DE SEGURANÇA CRÍTICAS\n\n✅ **SEMPRE:**\n- Validar normas com fontes oficiais (.gov.br)\n- Marcar fonte_validada=true apenas após confirmação\n- Escalar casos de alta severidade para humanos\n\n❌ **NUNCA:**\n- Fechar não conformidades automaticamente\n- Aprovar CAPA sem revisão humana\n- Alterar documentos oficiais sem aprovação\n- Afirmar normas sem validação de fonte",
          "height": 200,
          "width": 600
        },
        "id": "e3ea1224-6e5e-4bd2-b7fb-27c9b6522e9c",
        "name": "Sticky Note 0d9f4bdb",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1424,
          672
        ],
        "credentials": {}
      },
      {
        "parameters": {
          "content": "## 📋 FLUXO DE APROVAÇÃO\n\n**Requer Aprovação Humana se:**\n- Severidade = alta\n- Requer CAPA formal\n- Fonte não validada\n\n**Aprovação → Slack + Salvar Rascunho**\n**Automático → Registrar Auditoria**",
          "height": 400,
          "width": 600,
          "color": 3
        },
        "id": "e1fd8f5d-5387-4d04-9138-e6667e01c1c9",
        "name": "Sticky Note dc6b2e66",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1552,
          464
        ],
        "credentials": {}
      },
      {
        "parameters": {
          "content": "## 🤖 FERRAMENTAS DO AGENTE\n\n1. **Base Conhecimento:** Documentos técnicos e normas\n2. **Busca Web:** Validação de normas INMETRO\n3. **Google Drive:** Busca de documentos corporativos\n\nTodas as ferramentas são usadas pelo agente conforme necessário",
          "height": 600,
          "width": 300,
          "color": 4
        },
        "id": "560e014c-a041-4872-be1d-8aeb51e5ec2b",
        "name": "Sticky Note 42a277fc",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1360,
          1360
        ],
        "credentials": {}
      }
    ],
    "connections": {
      "Gatilho Manual": {
        "main": [
          [
            {
              "node": "Normalizar Entrada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalizar Entrada": {
        "main": [
          [
            {
              "node": "Verificar Não Conformidades",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verificação Diária": {
        "main": [
          [
            {
              "node": "Buscar Documentos Vencidos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Documentos Vencidos": {
        "main": [
          [
            {
              "node": "Combinar Dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Combinar Dados": {
        "main": [
          [
            {
              "node": "Agente de Qualidade INMETRO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Auditoria": {
        "main": [
          [
            {
              "node": "Normalizar Entrada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verificar Não Conformidades": {
        "main": [
          [
            {
              "node": "Combinar Dados",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Agente de Qualidade INMETRO": {
        "main": [
          [
            {
              "node": "Requer Aprovação Humana?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Modelo OpenAI": {
        "ai_languageModel": [
          [
            {
              "node": "Agente de Qualidade INMETRO",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Base Conhecimento Documentos": {
        "ai_tool": [
          [
            {
              "node": "Agente de Qualidade INMETRO",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "node": "Base Conhecimento Documentos",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Busca Web Regulatória": {
        "ai_tool": [
          [
            {
              "node": "Agente de Qualidade INMETRO",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Busca Documentos Drive": {
        "ai_tool": [
          [
            {
              "node": "Agente de Qualidade INMETRO",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Parser Estruturado": {
        "ai_outputParser": [
          [
            {
              "node": "Agente de Qualidade INMETRO",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Requer Aprovação Humana?": {
        "main": [
          [
            {
              "node": "Criar Rascunho CAPA",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Registrar Auditoria Automática",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar Rascunho CAPA": {
        "main": [
          [
            {
              "node": "Salvar Rascunho CAPA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Salvar Rascunho CAPA": {
        "main": [
          []
        ]
      },
      "Registrar Auditoria Automática": {
        "main": [
          [
            {
              "node": "Salvar Auditoria",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tratamento de Erro": {
        "main": [
          []
        ]
      }
    },
    "authors": "Vesper Rio",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}