N8N_READY_TO_IMPORT/AI - PORTAL VESPER - Agente de Aprovações e Escalonamento.json
{
  "name": "AI - PORTAL VESPER - Agente de Aprovações e Escalonamento",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "d294ac48-4afe-4a46-b372-bbf608f6e84b",
      "name": "Agendamento Horário",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        496
      ]
    },
    {
      "parameters": {
        "url": "",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "3c7d79ed-65e0-4234-a4ff-2daa10b093fc",
      "name": "Consultar Aprovações Pendentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "titulo",
              "name": "titulo",
              "value": "={{ $json.titulo }}",
              "type": "string"
            },
            {
              "id": "tipo",
              "name": "tipo",
              "value": "={{ $json.tipo }}",
              "type": "string"
            },
            {
              "id": "valor",
              "name": "valor",
              "value": "={{ $json.valor }}",
              "type": "number"
            },
            {
              "id": "responsavel",
              "name": "responsavel",
              "value": "={{ $json.responsavel }}",
              "type": "string"
            },
            {
              "id": "emailResponsavel",
              "name": "emailResponsavel",
              "value": "={{ $json.emailResponsavel }}",
              "type": "string"
            },
            {
              "id": "gestor",
              "name": "gestor",
              "value": "={{ $json.gestor }}",
              "type": "string"
            },
            {
              "id": "emailGestor",
              "name": "emailGestor",
              "value": "={{ $json.emailGestor }}",
              "type": "string"
            },
            {
              "id": "dataCriacao",
              "name": "dataCriacao",
              "value": "={{ $json.dataCriacao }}",
              "type": "string"
            },
            {
              "id": "prazoLimite",
              "name": "prazoLimite",
              "value": "={{ $json.prazoLimite }}",
              "type": "string"
            },
            {
              "id": "descricao",
              "name": "descricao",
              "value": "={{ $json.descricao }}",
              "type": "string"
            },
            {
              "id": "horasRestantes",
              "name": "horasRestantes",
              "value": "={{ Math.floor((new Date($json.prazoLimite) - $now) / (1000 * 60 * 60)) }}",
              "type": "number"
            },
            {
              "id": "diasPendente",
              "name": "diasPendente",
              "value": "={{ Math.floor(($now - new Date($json.dataCriacao)) / (1000 * 60 * 60 * 24)) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "d63acd7c-ac19-4f18-a93a-59b2b3bd8742",
      "name": "Normalizar Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        496
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um especialista em análise de aprovações corporativas.\n\nAnalise a seguinte aprovação e classifique sua prioridade:\n\nID: {{ $json.id }}\nTítulo: {{ $json.titulo }}\nTipo: {{ $json.tipo }}\nValor: R$ {{ $json.valor }}\nResponsável: {{ $json.responsavel }}\nHoras Restantes: {{ $json.horasRestantes }}\nDias Pendente: {{ $json.diasPendente }}\nDescrição: {{ $json.descricao }}\n\nClassifique em:\n- prioridade: \"critica\", \"alta\", \"media\", \"baixa\"\n- categoria: \"vencida\" (prazo passou), \"vencendo\" (< 24h), \"urgente\" (< 48h), \"normal\"\n- urgencia: número de 1 a 10\n- requerEscalonamento: true se vencida OU crítica OU urgência >= 8\n- justificativa: explicação breve da classificação\n\nIMPORTANTE: Nunca aprove ou rejeite automaticamente. Apenas classifique.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é um assistente de classificação de aprovações. Analise objetivamente e retorne JSON estruturado conforme o schema fornecido."
        }
      },
      "id": "c4d0d9bb-89f9-416a-86de-d25d443a8eea",
      "name": "Agente de Classificação",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        912,
        496
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "id": "92d841dc-2fd3-44ae-a642-ef41062a06fc",
      "name": "Modelo OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        928,
        720
      ],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI API Key (Portal Vesper)"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": {
          "prioridade": "critica",
          "categoria": "vencida",
          "urgencia": 10,
          "requerEscalonamento": true,
          "justificativa": "Aprovação vencida há 2 dias com alto valor financeiro"
        }
      },
      "id": "7e22f521-1280-4584-aff9-2fc9031edfe2",
      "name": "Parser Estruturado",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1056,
        720
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id",
              "name": "id",
              "value": "={{ $(\"Normalizar Dados\").item.json.id }}",
              "type": "string"
            },
            {
              "id": "titulo",
              "name": "titulo",
              "value": "={{ $(\"Normalizar Dados\").item.json.titulo }}",
              "type": "string"
            },
            {
              "id": "tipo",
              "name": "tipo",
              "value": "={{ $(\"Normalizar Dados\").item.json.tipo }}",
              "type": "string"
            },
            {
              "id": "valor",
              "name": "valor",
              "value": "={{ $(\"Normalizar Dados\").item.json.valor }}",
              "type": "number"
            },
            {
              "id": "responsavel",
              "name": "responsavel",
              "value": "={{ $(\"Normalizar Dados\").item.json.responsavel }}",
              "type": "string"
            },
            {
              "id": "emailResponsavel",
              "name": "emailResponsavel",
              "value": "={{ $(\"Normalizar Dados\").item.json.emailResponsavel }}",
              "type": "string"
            },
            {
              "id": "gestor",
              "name": "gestor",
              "value": "={{ $(\"Normalizar Dados\").item.json.gestor }}",
              "type": "string"
            },
            {
              "id": "emailGestor",
              "name": "emailGestor",
              "value": "={{ $(\"Normalizar Dados\").item.json.emailGestor }}",
              "type": "string"
            },
            {
              "id": "horasRestantes",
              "name": "horasRestantes",
              "value": "={{ $(\"Normalizar Dados\").item.json.horasRestantes }}",
              "type": "number"
            },
            {
              "id": "diasPendente",
              "name": "diasPendente",
              "value": "={{ $(\"Normalizar Dados\").item.json.diasPendente }}",
              "type": "number"
            },
            {
              "id": "prioridade",
              "name": "prioridade",
              "value": "={{ $json.output.prioridade }}",
              "type": "string"
            },
            {
              "id": "categoria",
              "name": "categoria",
              "value": "={{ $json.output.categoria }}",
              "type": "string"
            },
            {
              "id": "urgencia",
              "name": "urgencia",
              "value": "={{ $json.output.urgencia }}",
              "type": "number"
            },
            {
              "id": "requerEscalonamento",
              "name": "requerEscalonamento",
              "value": "={{ $json.output.requerEscalonamento }}",
              "type": "boolean"
            },
            {
              "id": "justificativa",
              "name": "justificativa",
              "value": "={{ $json.output.justificativa }}",
              "type": "string"
            },
            {
              "id": "dataProcessamento",
              "name": "dataProcessamento",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ecd86e9e-a5a3-4f4e-abd8-759c2817fe9e",
      "name": "Combinar Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        496
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.categoria }}",
                    "rightValue": "vencida",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "combinator": "or",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.prioridade }}",
                    "rightValue": "critica",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.requerEscalonamento }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.categoria }}",
                    "rightValue": "vencendo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Normal"
        }
      },
      "id": "93f51bf5-f02a-4d84-95f5-30fdf644d2d8",
      "name": "Rotear por Categoria",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1488,
        464
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "<__PLACEHOLDER_VALUE__canal-aprovacoes-urgentes__>"
        },
        "text": "=🚨 *APROVAÇÃO VENCIDA*\n\n*ID:* {{ $json.id }}\n*Título:* {{ $json.titulo }}\n*Prioridade:* {{ $json.prioridade }}\n*Responsável:* {{ $json.responsavel }}\n*Dias Pendente:* {{ $json.diasPendente }}\n*Justificativa:* {{ $json.justificativa }}\n\n⚠️ Esta aprovação está vencida e requer ação imediata.",
        "otherOptions": {}
      },
      "id": "4cc96bd8-f3a0-4ee0-af67-a80c8a9af1bc",
      "name": "Notificar Vencida",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1712,
        208
      ],
      "webhookId": "695738f3-01c5-473f-9ce2-ecef2a116688",
      "disabled": true,
      "notes": "DESATIVADO: Configure credencial Slack no n8n antes de ativar"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "<__PLACEHOLDER_VALUE__canal-gestores__>"
        },
        "text": "=🔴 *ESCALONAMENTO NECESSÁRIO*\n\n*ID:* {{ $(\"Combinar Dados\").item.json.id }}\n*Título:* {{ $(\"Combinar Dados\").item.json.titulo }}\n*Responsável Original:* {{ $(\"Combinar Dados\").item.json.responsavel }}\n*Gestor:* {{ $(\"Combinar Dados\").item.json.gestor }}\n*Prioridade:* {{ $(\"Combinar Dados\").item.json.prioridade }}\n*Categoria:* {{ $(\"Combinar Dados\").item.json.categoria }}\n*Urgência:* {{ $(\"Combinar Dados\").item.json.urgencia }}/10\n*Justificativa:* {{ $(\"Combinar Dados\").item.json.justificativa }}\n\n⚠️ Esta aprovação requer atenção imediata da gestão.",
        "otherOptions": {}
      },
      "id": "636506fb-be91-4451-b621-bee1fbd82cb3",
      "name": "Escalonar para Gestor",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1936,
        304
      ],
      "webhookId": "2a6ca1ab-56b9-4da3-b26d-925d1e467d29",
      "disabled": true,
      "notes": "DESATIVADO: Configure credencial Slack no n8n antes de ativar"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "8c3f6e7a-4270-4429-b940-7d6dbe6765e1",
      "name": "Combinar Notificações",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2160,
        544
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "<__PLACEHOLDER_VALUE__canal-aprovacoes-urgentes__>"
        },
        "text": "=⚠️ *APROVAÇÃO CRÍTICA*\n\n*ID:* {{ $json.id }}\n*Título:* {{ $json.titulo }}\n*Prioridade:* {{ $json.prioridade }}\n*Responsável:* {{ $json.responsavel }}\n*Horas Restantes:* {{ $json.horasRestantes }}\n*Justificativa:* {{ $json.justificativa }}\n\n🔔 Escalonamento necessário.",
        "otherOptions": {}
      },
      "id": "2ef4d6bb-4c5c-4ed2-b180-a320e5f05817",
      "name": "Notificar Crítica",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1712,
        400
      ],
      "webhookId": "113869f6-3fed-43c4-8e31-d4f54f55b764",
      "disabled": true,
      "notes": "DESATIVADO: Configure credencial Slack no n8n antes de ativar"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "<__PLACEHOLDER_VALUE__canal-aprovacoes__>"
        },
        "text": "=⏰ *APROVAÇÃO VENCENDO*\n\n*ID:* {{ $json.id }}\n*Título:* {{ $json.titulo }}\n*Responsável:* {{ $json.responsavel }}\n*Horas Restantes:* {{ $json.horasRestantes }}\n\n📋 Por favor, revise esta aprovação em breve.",
        "otherOptions": {}
      },
      "id": "6c7b7b2e-98a1-4d6c-acf6-98079024fde7",
      "name": "Notificar Vencendo",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1936,
        576
      ],
      "webhookId": "7fa60f29-e9ce-4f9b-aa2d-b80e87aef7b0",
      "disabled": true,
      "notes": "DESATIVADO: Configure credencial Slack no n8n antes de ativar"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "<__PLACEHOLDER_VALUE__canal-aprovacoes__>"
        },
        "text": "=📌 *Lembrete de Aprovação*\n\n*ID:* {{ $json.id }}\n*Título:* {{ $json.titulo }}\n*Responsável:* {{ $json.responsavel }}\n\nVocê tem uma aprovação pendente.",
        "otherOptions": {}
      },
      "id": "8123f530-b1ad-4e10-845c-f427a7079edc",
      "name": "Notificar Normal",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1936,
        768
      ],
      "webhookId": "c5480bd7-acaa-4b07-a3cb-bea3b3afef32",
      "disabled": true,
      "notes": "DESATIVADO: Configure credencial Slack no n8n antes de ativar"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "auditoria_aprovacoes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "aprovacaoId": "={{ $json.id }}",
            "titulo": "={{ $json.titulo }}",
            "prioridade": "={{ $json.prioridade }}",
            "categoria": "={{ $json.categoria }}",
            "urgencia": "={{ $json.urgencia }}",
            "requerEscalonamento": "={{ $json.requerEscalonamento }}",
            "justificativa": "={{ $json.justificativa }}",
            "responsavel": "={{ $json.responsavel }}",
            "gestor": "={{ $json.gestor }}",
            "horasRestantes": "={{ $json.horasRestantes }}",
            "diasPendente": "={{ $json.diasPendente }}",
            "dataProcessamento": "={{ $json.dataProcessamento }}"
          },
          "schema": [
            {
              "id": "aprovacaoId",
              "displayName": "aprovacaoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridade",
              "displayName": "prioridade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "categoria",
              "displayName": "categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "urgencia",
              "displayName": "urgencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "requerEscalonamento",
              "displayName": "requerEscalonamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa",
              "displayName": "justificativa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "responsavel",
              "displayName": "responsavel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gestor",
              "displayName": "gestor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horasRestantes",
              "displayName": "horasRestantes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "diasPendente",
              "displayName": "diasPendente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "dataProcessamento",
              "displayName": "dataProcessamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "90253b9a-5f96-45d1-9405-1875ace368ea",
      "name": "Registrar Auditoria",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2384,
        576
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "939d9d52-67ef-4863-a2e5-0d7f52f29d86",
      "name": "Agendamento Diário",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        992
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "auditoria_aprovacoes"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "dataProcessamento",
              "condition": "gte",
              "keyValue": "={{ $today.minus({ days: 1 }).toISO() }}"
            }
          ]
        },
        "returnAll": true,
        "orderBy": true,
        "orderByColumn": "urgencia"
      },
      "id": "f71c3746-04cb-4215-ace0-5bfca16f4138",
      "name": "Buscar Aprovações do Dia",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        464,
        992
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "aprovacoes",
        "options": {}
      },
      "id": "1849fe34-3ef2-4a8f-9884-eff30897145f",
      "name": "Agregar Resumo",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        688,
        992
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "<__PLACEHOLDER_VALUE__canal-relatorios__>"
        },
        "text": "=📊 *RESUMO DIÁRIO DE APROVAÇÕES*\n{{ $now.toFormat(\"dd/MM/yyyy\") }}\n\n*Total de Aprovações Processadas:* {{ $json.aprovacoes.length }}\n\n*Detalhes:*\n{{ $json.aprovacoes.map(a => \"• \" + a.aprovacaoId + \" - \" + a.prioridade + \" (\" + a.categoria + \")\").join(\"\\n\") }}\n\n✅ Relatório gerado automaticamente pelo Portal Vesper",
        "otherOptions": {}
      },
      "id": "245b8013-8da8-4734-a05a-daa9f7546753",
      "name": "Enviar Resumo Diário",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        912,
        992
      ],
      "webhookId": "f7ee5dc8-a1d0-494c-a507-f846fccd7af7",
      "disabled": true,
      "notes": "DESATIVADO: Configure credencial Slack no n8n antes de ativar"
    }
  ],
  "pinData": {},
  "connections": {
    "Agendamento Horário": {
      "main": [
        [
          {
            "node": "Consultar Aprovações Pendentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Aprovações Pendentes": {
      "main": [
        [
          {
            "node": "Normalizar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Dados": {
      "main": [
        [
          {
            "node": "Agente de Classificação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Classificação": {
      "main": [
        [
          {
            "node": "Combinar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de Classificação",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser Estruturado": {
      "ai_outputParser": [
        [
          {
            "node": "Agente de Classificação",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Combinar Dados": {
      "main": [
        [
          {
            "node": "Rotear por Categoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rotear por Categoria": {
      "main": [
        [
          {
            "node": "Notificar Vencida",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar Crítica",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar Vencendo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar Normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Vencida": {
      "main": [
        [
          {
            "node": "Escalonar para Gestor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalonar para Gestor": {
      "main": [
        [
          {
            "node": "Combinar Notificações",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combinar Notificações",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combinar Notificações": {
      "main": [
        [
          {
            "node": "Registrar Auditoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Crítica": {
      "main": [
        [
          {
            "node": "Escalonar para Gestor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Vencendo": {
      "main": [
        [
          {
            "node": "Combinar Notificações",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Notificar Normal": {
      "main": [
        [
          {
            "node": "Combinar Notificações",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Agendamento Diário": {
      "main": [
        [
          {
            "node": "Buscar Aprovações do Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Aprovações do Dia": {
      "main": [
        [
          {
            "node": "Agregar Resumo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar Resumo": {
      "main": [
        [
          {
            "node": "Enviar Resumo Diário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "errorWorkflow": "LpsYX0AkHTdZKw7P"
  },
  "versionId": "206b5f52-0f6b-49e0-b7d1-eb5aa4c29084",
  "meta": {
    "instanceId": "ba8ade540f24bf1880d953f6362fe5f61303e3bce5c042486d634bb871d16172"
  },
  "id": "CwEjjhfG6oX8Jm8j",
  "tags": []
}