N8N_READY_TO_IMPORT/AI - PORTAL VESPER - War Room Executivo.json
{
  "name": "AI - PORTAL VESPER - War Room Executivo",
  "nodes": [
    {
      "parameters": {},
      "id": "b232b061-fc80-43ba-8955-23b8463fda7d",
      "name": "Gatilho Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        208
      ]
    },
    {
      "parameters": {
        "url": "",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "49ce4e6e-1f21-4068-a638-fc6f2d954989",
      "name": "Consulta Saúde Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        112
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "numberInputs": 10
      },
      "id": "c8c6dba7-da10-4896-a29e-783b6eaa6f24",
      "name": "Combinar Dados",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        688,
        848
      ]
    },
    {
      "parameters": {
        "url": "",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "f3af0ceb-ec7a-4a6c-a7e6-dc0182e78abe",
      "name": "Consulta Aprovações Pendentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        304
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "5f37285b-dac9-4f19-9505-764143465362",
      "name": "Consulta Erros Recentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        496
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "6cfdae94-4a69-4940-aa5a-441d7e737d19",
      "name": "Consulta Dead Letters",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        688
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "d58b813f-842c-472c-8179-c9d103a0fcf2",
      "name": "Consulta OPs Atrasadas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        880
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "0d08c11b-65bc-4f03-8cb1-6b09b98c5afa",
      "name": "Consulta Kanban",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        1072
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "8c1670f2-911e-4105-9687-6966f55ed1ea",
      "name": "Consulta Compras Pendentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        1264
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "e7ac3e14-693d-4193-a9ec-93cf45cdb7ce",
      "name": "Consulta Propostas Paradas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        1456
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "ac816072-3cc6-4079-b544-6a215e60b536",
      "name": "Consulta Chamados Críticos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        1648
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "26d22a40-3e9c-43b3-8970-2e362cf6b2c1",
      "name": "Consulta Documentos Vencendo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        1840
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "a570472b-fb6f-47d6-9d34-9f6b27844646",
      "name": "Agendamento Diário",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        1744
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "dadosColetados",
        "options": {}
      },
      "id": "2c3bf26b-ff93-4df2-8e55-5cd90eac2b5c",
      "name": "Agregar Dados",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        912,
        976
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um analista executivo especializado em monitoramento empresarial.\n\nAnalise os dados coletados abaixo e gere um resumo executivo completo:\n\n{{ $json.dadosColetados }}\n\nIMPORTANTE:\n- NÃO aprove nada automaticamente\n- NÃO corrija nada automaticamente\n- NÃO apague logs\n- APENAS resuma, alerte e recomende ações\n\nClassifique os riscos considerando:\n- Workflows com erro ou pausados\n- Aprovações pendentes há mais de 3 dias\n- Erros recorrentes (mais de 2 ocorrências)\n- Dead letters acumuladas\n- OPs atrasadas mais de 5 dias\n- Itens bloqueados no Kanban\n- Compras urgentes pendentes\n- Propostas paradas mais de 7 dias\n- Chamados críticos abertos\n- Documentos vencendo em menos de 7 dias\n\nGere recomendações práticas e acionáveis para cada problema identificado.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é um analista executivo do Portal Vesper. Sua função é analisar dados operacionais, classificar riscos e gerar resumos executivos com recomendações práticas. Seja objetivo, claro e focado em ações. Nunca aprove, corrija ou apague dados automaticamente - apenas analise e recomende.",
          "maxIterations": 5
        }
      },
      "id": "6815b404-8887-4447-bc0d-53a3f62b3b57",
      "name": "Agente IA - Análise Executiva",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1136,
        976
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.3
        }
      },
      "id": "d9e27647-f662-4b65-af95-af5d2da1a4ea",
      "name": "Modelo OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1152,
        1200
      ],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI API Key (Portal Vesper)"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": {
          "resumoExecutivo": "Resumo geral da situação da empresa",
          "indicadoresChave": {
            "saudeWorkflows": "verde/amarelo/vermelho",
            "aprovacoesPendentes": 0,
            "errosCriticos": 0,
            "deadLetters": 0,
            "opsAtrasadas": 0,
            "kanbanBloqueados": 0,
            "comprasPendentes": 0,
            "propostasParadas": 0,
            "chamadosCriticos": 0,
            "documentosVencendo": 0
          },
          "classificacaoRisco": {
            "nivelGeral": "baixo/médio/alto/crítico",
            "pontuacao": 0,
            "justificativa": "Explicação do nível de risco"
          },
          "alertasPrioritarios": [
            {
              "categoria": "workflows/aprovações/erros/etc",
              "severidade": "baixa/média/alta/crítica",
              "descricao": "Descrição do alerta",
              "impacto": "Impacto no negócio",
              "recomendacao": "Ação recomendada"
            }
          ],
          "recomendacoesDia": [
            {
              "prioridade": 1,
              "acao": "Ação recomendada",
              "responsavel": "Área/pessoa responsável",
              "prazo": "Prazo sugerido"
            }
          ],
          "metricas": {
            "totalItensAnalisados": 0,
            "itensComProblema": 0,
            "percentualSaude": 0
          }
        }
      },
      "id": "6d83274f-d742-40e3-b4ad-c3d3752686f2",
      "name": "Parser Estruturado",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1280,
        1200
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.classificacaoRisco.nivelGeral }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "crítico"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "critico"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.classificacaoRisco.nivelGeral }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "alto"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "alto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.classificacaoRisco.nivelGeral }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "médio"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "medio"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Baixo"
        }
      },
      "id": "85329814-0514-44ca-8b18-5ad666e59109",
      "name": "Classificar Risco",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1488,
        944
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messageType": "block",
        "blocksUi": "={{ [{\"type\":\"header\",\"text\":{\"type\":\"plain_text\",\"text\":\"🚨 ALERTA CRÍTICO - Portal Vesper\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Nível de Risco:* CRÍTICO\\n*Pontuação:* \" + $json.output.classificacaoRisco.pontuacao + \"/100\\n*Justificativa:* \" + $json.output.classificacaoRisco.justificativa}},{\"type\":\"divider\"},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Resumo Executivo:*\\n\" + $json.output.resumoExecutivo}},{\"type\":\"divider\"},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Alertas Prioritários:*\\n\" + $json.output.alertasPrioritarios.map((a, i) => (i+1) + \". [\" + a.severidade.toUpperCase() + \"] \" + a.descricao + \"\\n   _Impacto:_ \" + a.impacto + \"\\n   _Recomendação:_ \" + a.recomendacao).join(\"\\n\\n\")}},{\"type\":\"divider\"},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Recomendações do Dia:*\\n\" + $json.output.recomendacoesDia.map((r, i) => (i+1) + \". \" + r.acao + \" (\" + r.responsavel + \" - \" + r.prazo + \")\").join(\"\\n\")}}] }}",
        "text": "=🚨 ALERTA CRÍTICO - War Room Executivo",
        "otherOptions": {}
      },
      "id": "4d501f99-ff8e-4114-80a8-e2a9f7e62e26",
      "name": "Notificação Crítica - Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1712,
        688
      ],
      "webhookId": "cc7ab991-cdbc-41fd-9a83-4a4b576560d7",
      "disabled": true,
      "notes": "DESATIVADO: Configure credencial Slack no n8n antes de ativar"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"timestamp\": $now.toISO(), \"workflow\": \"War Room Executivo\", \"action\": \"analise_executiva\", \"riskLevel\": $(\"Agente IA - Análise Executiva\").item.json.output.classificacaoRisco.nivelGeral, \"score\": $(\"Agente IA - Análise Executiva\").item.json.output.classificacaoRisco.pontuacao, \"summary\": $(\"Agente IA - Análise Executiva\").item.json.output.resumoExecutivo, \"metrics\": $(\"Agente IA - Análise Executiva\").item.json.output.metricas } }}",
        "options": {}
      },
      "id": "df3a4b52-595b-45e5-8fe8-e59484669243",
      "name": "Registrar Auditoria",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1936,
        976
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messageType": "block",
        "blocksUi": "={{ [{\"type\":\"header\",\"text\":{\"type\":\"plain_text\",\"text\":\"⚠️ ALERTA ALTO - Portal Vesper\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Nível de Risco:* ALTO\\n*Pontuação:* \" + $json.output.classificacaoRisco.pontuacao + \"/100\\n*Justificativa:* \" + $json.output.classificacaoRisco.justificativa}},{\"type\":\"divider\"},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Resumo Executivo:*\\n\" + $json.output.resumoExecutivo}},{\"type\":\"divider\"},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Principais Alertas:*\\n\" + $json.output.alertasPrioritarios.slice(0,3).map((a, i) => (i+1) + \". [\" + a.severidade.toUpperCase() + \"] \" + a.descricao + \"\\n   _Recomendação:_ \" + a.recomendacao).join(\"\\n\\n\")}}] }}",
        "text": "=⚠️ ALERTA ALTO - War Room Executivo",
        "otherOptions": {}
      },
      "id": "80e53f10-51f6-471e-8b46-a53facb6311e",
      "name": "Notificação Alta - Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1712,
        880
      ],
      "webhookId": "8b987377-8773-4fca-8e71-304191f46756",
      "disabled": true,
      "notes": "DESATIVADO: Configure credencial Slack no n8n antes de ativar"
    },
    {
      "parameters": {
        "sendTo": "",
        "subject": "=📊 Resumo Executivo Diário - Portal Vesper - {{ $now.toFormat(\"dd/MM/yyyy\") }}",
        "message": "=<h2>📊 Resumo Executivo Diário - Portal Vesper</h2><p><strong>Data:</strong> {{ $now.toFormat(\"dd/MM/yyyy HH:mm\") }}</p><hr><h3>Classificação de Risco</h3><p><strong>Nível:</strong> {{ $json.output.classificacaoRisco.nivelGeral.toUpperCase() }}</p><p><strong>Pontuação:</strong> {{ $json.output.classificacaoRisco.pontuacao }}/100</p><p><strong>Justificativa:</strong> {{ $json.output.classificacaoRisco.justificativa }}</p><hr><h3>Resumo Executivo</h3><p>{{ $json.output.resumoExecutivo }}</p><hr><h3>Indicadores Chave</h3><ul><li>Saúde Workflows: {{ $json.output.indicadoresChave.saudeWorkflows }}</li><li>Aprovações Pendentes: {{ $json.output.indicadoresChave.aprovacoesPendentes }}</li><li>Erros Críticos: {{ $json.output.indicadoresChave.errosCriticos }}</li><li>Dead Letters: {{ $json.output.indicadoresChave.deadLetters }}</li><li>OPs Atrasadas: {{ $json.output.indicadoresChave.opsAtrasadas }}</li><li>Kanban Bloqueados: {{ $json.output.indicadoresChave.kanbanBloqueados }}</li><li>Compras Pendentes: {{ $json.output.indicadoresChave.comprasPendentes }}</li><li>Propostas Paradas: {{ $json.output.indicadoresChave.propostasParadas }}</li><li>Chamados Críticos: {{ $json.output.indicadoresChave.chamadosCriticos }}</li><li>Documentos Vencendo: {{ $json.output.indicadoresChave.documentosVencendo }}</li></ul><hr><h3>Recomendações do Dia</h3><ol>{{ $json.output.recomendacoesDia.map(r => \"<li><strong>\" + r.acao + \"</strong><br>Responsável: \" + r.responsavel + \" | Prazo: \" + r.prazo + \"</li>\").join(\"\") }}</ol><hr><p><em>Este email foi gerado automaticamente pelo Portal Vesper War Room.</em></p>",
        "options": {}
      },
      "id": "08d0176d-6ab8-4d2a-8478-a913340909b5",
      "name": "Notificação Média - Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1712,
        1072
      ],
      "webhookId": "237e92be-3a44-44ce-99fd-544c288ca388"
    },
    {
      "parameters": {
        "sendTo": "",
        "subject": "=✅ Resumo Executivo Diário - Portal Vesper - {{ $now.toFormat(\"dd/MM/yyyy\") }}",
        "message": "=<h2>✅ Resumo Executivo Diário - Portal Vesper</h2><p><strong>Data:</strong> {{ $now.toFormat(\"dd/MM/yyyy HH:mm\") }}</p><p style=\"color: green;\"><strong>Status:</strong> Sistema operando normalmente</p><hr><h3>Resumo</h3><p>{{ $json.output.resumoExecutivo }}</p><hr><h3>Métricas</h3><ul><li>Total de Itens Analisados: {{ $json.output.metricas.totalItensAnalisados }}</li><li>Itens com Problema: {{ $json.output.metricas.itensComProblema }}</li><li>Percentual de Saúde: {{ $json.output.metricas.percentualSaude }}%</li></ul><hr><p><em>Este email foi gerado automaticamente pelo Portal Vesper War Room.</em></p>",
        "options": {}
      },
      "id": "750ff7d2-0250-406c-9837-5758e96a5e1f",
      "name": "Notificação Baixa - Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1712,
        1264
      ],
      "webhookId": "e4a28291-d5d8-4491-ae53-c934e8329e8d"
    }
  ],
  "pinData": {},
  "connections": {
    "Gatilho Manual": {
      "main": [
        [
          {
            "node": "Consulta Saúde Workflows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta Aprovações Pendentes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta Erros Recentes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta Dead Letters",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta OPs Atrasadas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta Kanban",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta Compras Pendentes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta Propostas Paradas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta Chamados Críticos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta Documentos Vencendo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Saúde Workflows": {
      "main": [
        [
          {
            "node": "Combinar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar Dados": {
      "main": [
        [
          {
            "node": "Agregar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Aprovações Pendentes": {
      "main": [
        [
          {
            "node": "Combinar Dados",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Consulta Erros Recentes": {
      "main": [
        [
          {
            "node": "Combinar Dados",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Consulta Dead Letters": {
      "main": [
        [
          {
            "node": "Combinar Dados",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Consulta OPs Atrasadas": {
      "main": [
        [
          {
            "node": "Combinar Dados",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Consulta Kanban": {
      "main": [
        [
          {
            "node": "Combinar Dados",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Consulta Compras Pendentes": {
      "main": [
        [
          {
            "node": "Combinar Dados",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Consulta Propostas Paradas": {
      "main": [
        [
          {
            "node": "Combinar Dados",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Consulta Chamados Críticos": {
      "main": [
        [
          {
            "node": "Combinar Dados",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "Consulta Documentos Vencendo": {
      "main": [
        [
          {
            "node": "Combinar Dados",
            "type": "main",
            "index": 9
          }
        ]
      ]
    },
    "Agendamento Diário": {
      "main": [
        [
          {
            "node": "Consulta Saúde Workflows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta Aprovações Pendentes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta Erros Recentes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta Dead Letters",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta OPs Atrasadas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta Kanban",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta Compras Pendentes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta Propostas Paradas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta Chamados Críticos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta Documentos Vencendo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar Dados": {
      "main": [
        [
          {
            "node": "Agente IA - Análise Executiva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA - Análise Executiva": {
      "main": [
        [
          {
            "node": "Classificar Risco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA - Análise Executiva",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser Estruturado": {
      "ai_outputParser": [
        [
          {
            "node": "Agente IA - Análise Executiva",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Classificar Risco": {
      "main": [
        [
          {
            "node": "Notificação Crítica - Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificação Alta - Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificação Média - Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificação Baixa - Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificação Crítica - Slack": {
      "main": [
        [
          {
            "node": "Registrar Auditoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificação Alta - Slack": {
      "main": [
        [
          {
            "node": "Registrar Auditoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificação Média - Email": {
      "main": [
        [
          {
            "node": "Registrar Auditoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificação Baixa - Email": {
      "main": [
        [
          {
            "node": "Registrar Auditoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "errorWorkflow": "LpsYX0AkHTdZKw7P"
  },
  "versionId": "44affb70-edde-4fc3-bdc0-b4eb4be7b835",
  "meta": {
    "instanceId": "ba8ade540f24bf1880d953f6362fe5f61303e3bce5c042486d634bb871d16172"
  },
  "id": "ZUw5rYMxgWI0eXn4",
  "tags": []
}